NEXT_PUBLIC_WEBSERBISYO_API_URL=https://webserbisyo.com
NEXT_PUBLIC_EVENT_SLUG=alexander-morales-wedding-rsvp-20260513-9435
NEXT_PUBLIC_DESIGN_MODE=true
NEXT_PUBLIC_TEMPLATE_ID=wedding-custom-starter-v1
